package main

import (
	p "github.com/ddosakura/sblock/plugins/golang"
	"github.com/ddosakura/sblock/sbi"
)

// New is the entry of the plugin
func New(c *sbi.Config) sbi.Plugin {
	return p.New(c)
}

func main() {}
